.dashboard-container{
  padding-top: 100px;
}

.default-album{
  width: 100% !important;
}

.track-info{
  font-size: 13px;
}
.playlist-img{
  width: 50%;
  height: 50%;
  display: inline-block;
  vertical-align: top;
  position: static;
}