<navbar logged-in="false">

</navbar>
<header class="header-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <img src="../../resources/img/play.png">
                            <h2 class="section-heading text-center">Bring your music along</h2>
                            <p>Add up to 50,000 songs from your computer and stream them anywhere for free.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="download" class="download blue-bg text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Bring your music along</h2>
                    <p>Add up to 50,000 songs from your computer and stream them anywhere for free.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>What you'll get</h2>
                        <!--<p class="text-muted">Mai</p>-->
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="feature-item">
                                    <i class="icon-music-tone-alt text-primary"></i>
                                    <p class="text-muted">Access all your songs on-demand and ad-free</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="feature-item">
                                    <i class=" icon-control-play text-primary"></i>
                                    <p class="text-muted">Upload up to 50,000 of your own songs</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="feature-item">
                                    <i class="icon-playlist text-primary"></i>
                                    <p class="text-muted">Recommendations that adapt to your tastes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <!--<h2>Looking for verified worker?</h2>-->
                <!--<a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>-->
            </div>
        </div>
        <!--<div class="overlay"></div>-->
    </section>

    <section id="contact" class="contact contact-bg">
        <div class="container">
            <h2>Taking requests</h2>
            <h4>Search for songs, artists, genres and more to instantly start radio stations.</h4>
        </div>
    </section>
    <!-- Theme JavaScript -->
    <!--<script src="resources/img/new-age.min.js"></script>-->